# **Variable.**
We are initiating our python by declaring variable. As we use basic variable is our previous code book. Now We will deep dig into variable.
In this code notebook we'll learn about variables, their types, uses and restrictions.
Let's get started :)

## **Defination**

Variables as name indicates are the container that stores values temporirly. Imagine you have multiple containers at your store and these containers are use to put in and put outside the things. Same for variable. Varaible are used to store python values. These values can be digits, string values, or any other value. We wil see variable types in detail

In [1]:
# Declaring variable.
first_variable= 4
# Variable are declared to store values. There are some rules to declare variables, let's know them first.

Following are some ways to declare variables.


*   Variable name can be started with letters or underscores '_' but it can't be initialized using any digital e.g "2nd_value", it's wrong. We can can use digit in variable name but not at the start of variable name.
*   Variable name can include letters, underscores, and numbers


*   Variable name cannot be spcial reserved word in python e.g if , else, sum, try etc.
* Varabile name is also case sensitive, which means python will consider "Variable" different as compare to  "variable".

In [3]:
# Let's try right variable name.

my_value= 5
_myvalue=13
_MyValue=10
My_Value=20
# You can see the variable names are also case sensitive as mentioned above.

In [4]:
# Printing value.
print(my_value)
print(_myvalue)
print(_MyValue)
print(My_Value)

5
13
10
20

In [ ]:
# Let's try some wrong variable name

2nd_value= 5
my value=3
my-value=10
# These are variable name are invalid and when we run the code, we'll get error message.

In [8]:
# Printing value stored in variables.
print(my_value)
print(_myvalue)

5
13

In [9]:
# Let's discuss variable types and their advantages and usages.

## **Data Types In Python**

As we now know variable are use to store values in python and based on value type, variable are assigned specific type. For instance if the value is integer then the variable type is 'int' and if the value is in decimal then type will be 'float'.

Let's discuss data types in python based on their values.
###1 => **Int Datatype**
Int dataype include the integer values without any decimale e.g 4, -2. These values can be either positive or nagetive but will not contain any decimal value.

### 2=> **Float Datatype**
Float dataype include numbers with decimal values. All decimal values including postive or negative values includes in 'float dataype'.
e.g 3.2, 0.0002, -3.024 etc.

###3=> **String Datatype**
This dataype includes all string, charactors (letters) values. The string can be a single charactor or multiple sentences. This dataype is always enclosed in quotes which can either be single or double. e.g 'A', "This is string dataype".
We can also say the single value string is also "Char" datatype.
###4=> **Complex Datatype**
This datatype is type of numaric datatype but it include complex values as well. e.g ' 1+2i '

In [11]:
#Let's use different dataype in different values.

# Using 'int' dataype
int_value=32
print(f"{int_value} is an int value") # We can show variable values in print statement using "f()" 'formated method'.

32 is an int value

In [12]:
# Creating float datatype.
float_value=32.4
print(f"{float_value} is a float value")

32.4 is a float value

In [13]:
# Creating string datatype.
sting_value= "This is second string value"
print(f"{sting_value} is a string value")

This is second string value is a string value

In [14]:
# Creating complex datatype
complex_value= 1+2j
print(f"{complex_value} is a complex value")

(1+2j) is a complex value

## ***Let's do some practice***

In [15]:
# Task 1
#Assign all values to different variable and print them

int_variable=2
float_variable=2.3
string_variable="This is string value"
complex_variable=2+3j
print(f"{int_variable} is an int value")
print(f"{float_variable} is a float value")
print(f"{string_variable} is a string value")
print(f"{complex_variable} is a complex value")

2 is an int value
2.3 is a float value
This is string value is a string value
(2+3j) is a complex value